<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- Main Menu for Real Estate Management -->
    <menuitem id="menu_real_estate_root" name="Real Estate Management" sequence="10"/>

    <!--    Submenu for Properties-->
    <menuitem id="menu_real_estate_properties" name="Properties"
              parent="menu_real_estate_root" action="real_estate_management.action_property_management" sequence="10"/>

    <menuitem id="menu_property_categories" name="Property Categories"
              parent="menu_real_estate_root" action="real_estate_management.action_property_category" sequence="20"/>

</odoo>
